/* CSS */
.role-container {
    .actions {
        i {
            padding: top 7px;
            padding-right: 7px;
            font-size: 22px;
            cursor: pointer;
        }

        .add {
            margin-top: 11px;
            color: green;
            font-size: 1.5rem;
            /* Điều chỉnh kích thước của biểu tượng "+" */
            cursor: pointer;
            margin-right: 10px;
            /* Khoảng cách giữa biểu tượng "+" và "X" */
        }

        .delete {
            margin-top: 11px;
            color: red;
            font-size: 1.5rem;
            /* Điều chỉnh kích thước của biểu tượng "X" */
            cursor: pointer;
        }
    }

    .table-role {
        .delete {
            cursor: pointer;
            color: red;
        }
    }
}

.title-role h4 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.form-group {
    flex: 1;
}

.title-role h4 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
}




label {
    display: block;
    font-weight: bold;
}